<%- include('includes/head') %>
<link rel="stylesheet" href="/css/index.css">
<script type="text/javascript" src="/js/script.js"></script>
</head>

<body>
  <div class="container">
    <div class="login-form">
      <h1>Login</h1>
      <form action="/api/auth/login" method="post">
        <input type="text" placeholder="e-mail" id="email" name="email">
        <input type="password" placeholder="password" id="password" name="password">
        <input type="submit" value="REGISTER" class="form-button">
        <a href="/api/user"><h5>register</h5></a>
      </form>
    </div>
  </div>
</body>

</html>